* {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: .9rem;
}

.panel {
      border-radius: 10px;
      background-color: white;
      padding: 20px;
      width: 500px;
      margin: 20px;
}

.header {
      display: flex;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;

      .text {
            flex: 1;
            font-size: 24px;
            padding-left: 10px;
            padding-top: 10px;
      }

      &.post:hover {
            background-color: #fafafa;
      }
}

.title-workout {
      padding-top: 10px;
      font-size: 18px;
      color: #6876c1;
}


.post {
      display: flex;
}



body {
      background-color: #d4d6dd;
      margin: 0;
      padding: 0;
}


.black {
      color: #1c2028;
}

.strong {
      font-weight: 600;
}

.violet {
      color: #6876c1;
}

h1 {
      display: block;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 52px;
      font-weight: 100;
      text-align: center;
      color: #fff;
      letter-spacing: 1.2rem;
      line-height: .4;
      width: 560px;
}




h2 {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 100;
      text-align: center;
      color: #fff;
      line-height: 0;
      margin-top: 35px;
}

h3 {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 34px;
      font-weight: 100;
      text-align: center;
      color: #fff;
      line-height: 0;
}

h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      padding-bottom: 20px;
}


input {
      width: 90%;
      padding: 12px 20px;
      margin-bottom: 15px;
      border: none;
      background-color: #f0f0f3;
}

label {
      font-size: 14px;
      display: block;
      padding: 20px;
}


input[type=text]:focus {
      background-color: #aaaaba;
      color: white;
}

.counter-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 80px;
      min-height: 40vh;
}

.container-titre-app {
      background-color: #68c17e;
      width: 100%;
      height: 160px;
}

.numWorkout {
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 100;
      text-align: right;
      color: #fff;
      line-height: .4;
}



.csci-e39 {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: .6rem;
      color: #fff;
      padding-top: 20px;
}

.csci-e39-dark {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: .6rem;
      color: #535d7d;
      padding-top: 50px;
}

.grey-blue {
      color: #65719d;
}

.resetView {
      width: 100%;
      padding: 40px 0 40px 0;
      margin: 0;
      text-align: center;

}

.btnResetView {
      text-align: center;
      height: 60px;
      width: 200px;
      border: solid 4px rgba(255, 255, 255, 0.2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: .8rem;
      background-color: #6876c1;
      color: #fff;
      letter-spacing: .2rem;
      margin: 30px;
}

.btnResetView:hover {
      background-color: #51587f;
}

.inputPanel {
      margin: auto;
      width: 560px;
}

.inputPanelValidate {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.textForm {
      font-size: 12px;
      display: block;
}

.titleForm {
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
}

.resultTitle {
      width: 100%;
      font-size: 22px;
      font-weight: 100;
      text-align: center;
      color: #fff;
}


.displayResult {
      background-color: #e1e4e9;
      padding-top: 10px;
}


.resultContent {
      width: 520px;
      padding: 0px 20px 0px 20px;
      margin: auto;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #68c17e;
}

.resultContentLink {
      width: 520px;
      padding: 0px 20px 30px 20px;
      margin: auto;
      margin-top: 0;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #68c17e;
}


.selectTimer {
      width: 100%;
      text-align: center;
      font-size: 26px;
      font-weight: 200;
      margin-bottom: 0;
      padding-bottom: 10px;
}

.resultBox {
      background-color: #c16899;

      text-align: center;
      padding: 10px;
      margin: 10px;
      margin-top: -5px;
}


.center-align {
      display: flex;
      justify-content: center;
}

.resultBoxLink {
      text-align: center;
      padding: 16px;
      margin: 5px;
      width: 560px;
      background-color: #6876c1;
      color: #fff;
      letter-spacing: .2rem;
      border: solid 4px rgba(255, 255, 255, 0.6);
}

.resultBoxLink:hover {
      background-color: #464e78;
}


.resultTxt {
      font-size: 9px;
      font-weight: 600;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
}

.resultNum {
      color: #fff;
      font-size: 44px;
      font-weight: 100;
}

.resultNumLink {
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-transform: uppercase;
      font-size: .8rem;
}


.counter-content {
      background-color: #1c2028;
      padding: 20px;
      padding-top: 100px;
      padding-bottom: 40px;
}


.counterBoxContent {
      margin: auto;
      max-width: 650px;
      background-color: #292e39;
      padding-bottom: 20px;
      border-radius: 20px;
}


.counterBox {
      margin: auto;
      max-width: 300px;
      background-color: #ebbc67;
      min-height: 200px;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 8px 5px 5px rgba(8, 8, 8, 0.3);
}


.counterBoxContentXY {
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 500px;
      background-color: #292e39;
      padding: 80px;
      border-radius: 20px;
      height: 300px;
}


.counterBoxXY {
      background-color: #ebbc67;
      width: 200px;
      height: 250px;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 8px 5px 5px rgba(8, 8, 8, 0.3);
}

.counterBoxContentCount {
      margin: auto;
      width: 400px;
      background-color: #292e39;
      padding: 80px;
      border-radius: 20px;
      height: 400px;
}


.timerTitle {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 34px;
      font-weight: 200;
      text-align: center;
}

.timerDisplaySecond {
      font-family: 'Montserrat', sans-serif;
      font-size: 100px;
      font-weight: 600;
      letter-spacing: -2px;
      text-align: center;
}

.timerSecond {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .4rem;
}


.infoBoxContent {
      padding-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-sizing: border-box;
}

.info {
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
}

.titleInfo {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .3rem;
      color: #9fa5b2;
      line-height: 0;
}

.numInfo {
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 200;
      line-height: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .3rem;
      color: #fff;
      line-height: 0;
}

.numInfoSec {
      font-family: 'Montserrat', sans-serif;
      font-size: 9px;
      font-weight: 600;
      line-height: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .3rem;
      color: #626773;
}



.buttonContent {
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.buttonContentCount {
      margin: auto;
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

.button-counter {
      box-sizing: border-box;
      text-align: center;
      padding: 10px;
      margin: 5px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .7rem;
      background-color: #6876c1;
      border: solid 4px rgba(255, 255, 255, 0.2);
      color: #fff;
}

.button-counter:hover {
      background-color: #3f4773;
}


.content-btn-start {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.btn-start {
      background-color: #9668c1;
      padding: 3px;
      width: 255px;
      margin-top: 80px;
      margin-bottom: -10px;
      color: #fff;
      text-align: center;
      font-size: 11px;
      letter-spacing: .2em;
}

.button-nav {
      box-sizing: border-box;
      text-align: center;
      padding: 10px;
      margin: 5px;
      width: 180px;
      height: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .7rem;
      background-color: #9668c1;
      border: solid 4px rgba(255, 255, 255, 0.2);
      color: #fff;
}

.button-nav:hover {
      background-color: #643690;
}

.button-big {
      box-sizing: border-box;
      text-align: center;
      padding: 10px;
      margin: 5px;
      width: 180px;
      height: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .7rem;
      background-color: #7ebf84;
      border: solid 4px rgba(255, 255, 255, 0.2);
      color: #fff;
}

.button-big:hover {
      background-color: #5c9e63;
}
.button-big-red {
   box-sizing: border-box;
   text-align: center;
   padding: 10px;
   margin: 5px;
   width: 180px;
   height: 40px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: .7rem;
   background-color: #b2239f;
   border: solid 4px rgba(255, 255, 255, 0.2);
   color: #fff;
}

.button-big-red:hover {
   background-color: #610e56;
}


.button-elem {
      box-sizing: border-box;
      text-align: center;
      padding: 10px;
      margin: 5px;
      width: 180px;
      height: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .7rem;
      background-color: #6876c1;
      border: solid 4px rgba(255, 255, 255, 0.2);
      color: #fff;
}

.button-elem:hover {
      background-color: #3f4773;
}

.button {
      box-sizing: border-box;
      text-align: center;
      padding: 10px;
      margin: 5px;
      /* width: 120px; */
      height: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .7rem;
      background-color: #6876c1;
      border: solid 4px rgba(255, 255, 255, 0.2);
      color: #fff;
}

.button:hover {
      background-color: #3f4773;
}


.footer-counter {
      width: 100%;
      text-align: center;
}

.docs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.docsContent {
      max-width: 700px;
}

.timerMenu {
      background-color: #000;
      display: flex;
      justify-content: center;
      padding: 10px;
      margin-top: 80px;
}



.total-num {
      display: block;
      font-size: 34px;
      font-weight: 400;
      color: #fff;
      width: 100%;
      text-align: center;
      margin-top: -10px;
}

.total-num-sec {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      padding-right: 10px;
}